<div 
   class='container mx-auto pb-30 mt-1 md:mt-1 mb-7 md:shadow-md flex-col md:flex'
>
    <div 
      class="w-12/12 md:w-5/12 h-[350px] px-2 pb-40 py-1 md:p-5 pl-5 md:pl-10"
    >
      <p 
        class="text-gray-400 font-bold -pl-2"
      >
        {{ heading }}
      </p>
      
    <div
    >
    <app-alert 
      [statusCode]="statusCode" 
      [message]="message"
    >
    </app-alert>
    
    </div>
      <form 
          [formGroup]="newPasswordForm"
          class="flex flex-col space-y-5"
      >
          <div 
            class="flex flex-col space-y-1 text-gray-200"
          >
            <input-field
                [id]="'password'"
                #password
                [name]="'password'"
                [placeholder]="'Enter Password'"
                [type]="'password'"
                [value]="''"
                formControlName="password"
                [customErrorMessages]="errorMessages"
            >
            </input-field>
          </div>
          <div 
            class="flex flex-col space-y-1 text-gray-200"
          >
            <input-field
                [id]="'cPassword'"
                #password
                [name]="'cPassword'"
                [placeholder]="'Re-type Password'"
                [type]="'password'"
                [value]="''"
                formControlName="cPassword"
                [customErrorMessages]="errorMessages"
            >
            </input-field>
          </div>
          <div>
            <app-botin
              (ChangeOnButtonHoverIn)="ChangeOnButtonHoverIn()" 
              (ChangeOnButtonHoverOut)="ChangeOnButtonHoverOut()"
              (sendData)="setNewPassword()"
              [disabled]="disabled"
              [style]="style"
            >
              <div
                class="flex flex-col space-y-1 items-center justify-between"
              >
                @if(isLoading)
                {
                   <p class="font-bold text-white"> ... saving password </p>
                }
                @if(!isLoading)
                {
                  <h3>Save New Password</h3>
                }

              </div>
            </app-botin>
          </div>
          
          <div 
            class="flex flex-col space-x-2 justify-content-between mt-10 z-50"
          >
          
          </div>

      </form>
   </div>


   <div 
      class="w-12/12 md:w-7/12 h-[350px] px-2 py-1 md:p-5"
   >

   </div>



</div>