<div 
  class="container mx-auto"
>
  <p
    class="text-sm md:text-md mb-5 mt-5 text-[#be9d18] font-bold text-left px-1 md:px-0"
  >
   Top Engagers
  </p>
</div>

<div 
  class="container mx-auto grid grid-cols-2 md:grid-cols-6 gap-2 md:gap-5 mb-5 px-1 md:px-0"
>    
  @if(users().length > 0)
  {
     @for(user of users(); track user.id)
     {
        <!-- <app-user-card [user]="user"></app-user-card> -->
        <div 
          class="border-2 shadow-md d-flex justify-center items-center relative"
        >
        <div 
          class="group absolute inline-block z-500 right-0 top-0"
        >
          <button 
            class="p-2 rounded-full hover:bg-gray-200 mr-1"
          >
            <div 
              class="flex flex-col gap-0.5"
            >
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
            </div>
          </button>
          
          <!-- Hidden by default, shown on parent hover -->
          <ul 
            class="hidden z-500 group-hover:block absolute bg-white border w-[110px] text-[12px] -ml-20"
          >
            <li 
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Portfolio
            </li>
            <li 
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Rate & Reviews
            </li>
            <li 
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Scam
            </li>
            <li   
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Fake Profile
            </li>
          </ul>
        </div>        
      
          <app-image
            [src]="user.image"
            [alt]="user.alt"
            [height]="height()"
            [width]="width()"
            class="cursor-none"
          >
          </app-image>   
          <div 
            class="w-full flex justify-between items-center text-[12px] px-2 py-2"
          >
            <p>Temitope Ugochukwu</p>
            <div 
              class="flex justify-center items-center gap-1"
            >
              <p>Rating:</p>
              <p class="text-yellow-700 mt-1">
                <ng-icon 
                  [svg]="rating" 
                  [size]="'14'" 
                  [color]="'yellow'" 
                  [ngClass]="{'circle-over' : isHamburgOver}"
                  (mouseover)="overBurger()"
                  class="z-50 cursor-pointer ml-1"
                />
              </p>
            </div>
          </div>
        </div>
      }
   } @else {
       <h1>No user present</h1>
   }
</div>