<div 
   class='container mx-auto px-0 py-3 h-[300px] shadow-lg pb-10 mb-1'
>
    <p 
      class="text-sm md:text-md mb-5 mt-5 text-[#be9d18] font-bold text-center"
    >
      Partners
    </p>
    <div 
      class="flex justify-center item-center"
    >

     <div 
       class="slider w-full bg-zinc-100 overflow-hidden"
     >
       <div 
         class="slider-track slider-animation flex gap-16 p-16"
       >
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>
         <div 
           class="slide"
         >
           <img 
              src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" 
              class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" 
           />
         </div>

       </div>       
      </div>

    </div>

</div>