.active-link {
    /* background-color: #8e1212; */
    background-color: #380061;
    font-weight: bold;
}

.indicate {
    background-color: #cadae9;
}




.hover-color {
   // color: #3e4095;
   color: rgb(158, 140, 140)
   
}

.hamburger-color {
   color: #38383a;
}

.red {
  color: red;
}

.hide {
   visibility: hidden;
}

.circle-over {
   cursor: pointer;
   color: red;
   stroke-width: 10px;
}