<div 
  appDragDrop
  (dropFile)="dropFile($event, 'passport')"
  class="drop-zone" 
  [class.drag-over]="isDragOver"
  (click)="fileInput.click()"
>
   <img *ngIf="previewUrl; else placeholder" [src]="previewUrl" alt="Preview" />
   <ng-template #placeholder>
   <p>Click or drag image here</p>
   </ng-template>
      
   <input 
    #fileInput 
    type="file" 
    accept="image/*" 
    style="display: none" 
    (change)="onFileSelected($event)" 
  />
  @if(previewUrl)
  {
    <button type="button" class="remove-btn" (click)="clearFile($event)">×</button>
  }
</div>

<app-input-file-validation 
  [customErrorMessages]="customErrorMessages" 
  [errors]="control.errors"  
>
</app-input-file-validation>

<!-- <div 
  class="drop-zone" 
  [class.drag-over]="isDragOver"
  (click)="fileInput.click()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (drop)="onDrop($event)"
>
   <img *ngIf="previewUrl; else placeholder" [src]="previewUrl" alt="Preview" />
   <ng-template #placeholder>
   <p>Click or drag image here</p>
   </ng-template>
      
   <input 
    #fileInput 
    type="file" 
    accept="image/*" 
    style="display: none" 
    (change)="onFileSelected($event)" 
  />
  @if(previewUrl)
  {
    <button type="button" class="remove-btn" (click)="clearFile($event)">×</button>
  }
</div>

<app-input-file-validation 
  [customErrorMessages]="customErrorMessages"
  
>
</app-input-file-validation> -->