<div 
  class="container-full mx-auto bg-blue-50 -mb-4 pt-10 md:pt-16 px-2 md:px-0 pb-6 md:pb-0"
>  
  <p 
    class="text-[30px] text-gray-600 flext justify-center items-center font-bold text-center"
  >
    Find Professional Technicians Around You
  </p>
  <p 
    class="text-[16px] md:text-[18px] mt-4 md:mt-1 text-gray flext justify-center items-center text-center"
  >
    Technicianswork helps you monitor the process
  </p>
</div>

<div
  class="bg-blue-50 px-5 pt-3 pb-8 md:pb-12 md:pt-0"
>
  <div 
    class='container mx-auto px-3 pt-3 py-4  md:p-10 flex-cols justify-center items-center'
  >

    <form 
      [formGroup]="skillSearchForm"
      class="flex flex-col space-y-5"
    >
      <div 
        class="w-full d-flex justify-content-between md:flex md:w-11/12 md:gap-0 mx-auto border-1 md:border-gray-200 md:rounded-full md:overflow-hidden"
      >
        <div 
          class="w-12/12 md:w-7/12 mb-2 md:mb-0"
        >
          <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g plumber'"
            [type]="'text'"
            [value]="''"
            formControlName="profession"
            [customErrorMessages]="errorMessages"
            [value]="''"
          >
          </input-field>
        </div>
        <div 
          class="w-12/12 md:w-5/12 mb-2 md:mb-0"
        >
          <app-select 
            #skillSearch 
            [options]="options"
            formControlName="location"
            [customErrorMessages]="errorMessages"
            (changedValue)="changedValue($event)"
          >         
          </app-select>
          <!-- <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g lagos'"
            [type]="'text'"
            [value]="''"
          >
          </input-field> -->
        </div>
        <!-- <div 
          class="w-12/12 md:w-3/ mb-3 md:mb-0"
        >
          <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g 10,000 - 50,000'"
            [type]="'text'"
            [value]="'value'"
          >
          </input-field>
        </div> -->
        <div 
          class="w-12/12 md:w-2/12 mb-2 md:mb-0 mt-3 md:mt-0"
        >
          <app-botin
            (ChangeOnButtonHoverIn)="ChangeOnButtonHoverIn()" 
            (ChangeOnButtonHoverOut)="ChangeOnButtonHoverOut()"
            [style]="style"
            (sendData)="searchProfessionals()"
          >
            <div
              class="flex flex-col space-y-1 text-gray-700 hover:text-white items-center justify-between"
            >
              <h3>Find Technician</h3>
            </div>
          </app-botin>
        </div>  
      </div>
    </form>

      <!-- <div 
        class="flex justify-center items-center mt-5 gap-2"
      >
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Location
          </p>
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Skill
          </p>
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Payment Range
          </p>
      </div> -->
  </div>
</div>

@if(isOpen())
{
  <app-modal 
    [isOpen]="isOpen()" 
    title="title" 
    [modalWidth]="modalWidth"
    (closeModal)="closeModal()"
    (confirmAction)="onConfirm()"
    
  >
      <app-professional-location
        (close)="closeModal()"
      >
      </app-professional-location>
  </app-modal>
}