<app-skill-search
>

</app-skill-search>


<div 
   class='container mx-auto mb-5'
>
   <div 
     class="w-full flex-cols md:flex gap-4"
   >
     <div 
       class="w-12/12 md:w-7/12 shadow-lg border-2"
     >
     
       <app-carousel-swiper
          [sliders]="sliders()"
       >
       </app-carousel-swiper>

     </div>

     <div 
       class="w-12/12 md:w-5/12 shadow-lg mx-auto mt-6 md:mt-0"
     >
        <iframe 
          class="min-w-[440px] md:w-[630px] h-[315px]"
          src="https://www.youtube.com/embed/SRNKPxr9uR8" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>

        <!-- <app-suggestion></app-suggestion> -->
        
     </div>

   </div>
</div>


<app-top-engagers
  [users]="users()"
>
</app-top-engagers>


<app-partners-logo
>
</app-partners-logo>


<div 
  class="container mx-auto w-12/12 md:w-7/12 mt-14"
>  
  <p 
    class="w-full text-center text-md font-bold text-gray-500 mb-4"
  >
     Professionals At Work
  </p>

  <app-carousel-swiper
    [sliders]="sliders()"
  >
  </app-carousel-swiper>  
  
</div>


<app-newsletter
>
</app-newsletter>


<div 
    class="fixed flex justify-center hover:border-gray-400 items-center rounded-xl right-0 top-1/4 z-30 -translate-y-1/2 flex flex-col gap-2 px-2 py-2 bg-white shadow-lg rounded-r-xl border border-l-0"
>
  <a 
    class="bg-yellow-100 cursor-pointer hover:text-blue-900 rounded-lg py-2 px-2 pl-3 hover:bg-blue-800 hover:text-white"
    (click)="sendFastForm()"
  >
    Fast Response Form
  </a>
</div>

<app-whatsapp
>
</app-whatsapp>

<!-- @if(openFastForm === true)
{ -->
  <app-modal 
    [isOpen]="openFastForm" 
    [title]="'Quick Response'" 
    [modalWidth]="modalWidth()"
    (closeModal)="closeForm()"
  >
    <app-fast-response-form
      (close)="closeForm()"
    >
    </app-fast-response-form>
</app-modal>
<!-- } -->


  