<div
  class="bg-blue-50 px-5 pt-3 pb-3 md:py-7"
>
  <div 
    class='container mx-auto px-3 pt-3 py-4  md:p-10 flex-cols justify-center items-center'
  >
      <div 
        class="w-full d-flex justify-content-between md:flex md:w-11/12 md:gap-0 mx-auto border-1 md:shadow-lg md:border-gray-200 md:rounded-full md:overflow-hidden"
      >
        <div 
          class="w-12/12 md:w-7/12 mb-2 md:mb-0"
        >
          <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g plumber'"
            [type]="'text'"
            [value]="''"
          >
          </input-field>
        </div>
        <div 
          class="w-12/12 md:w-5/12 mb-2 md:mb-0"
        >
          <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g lagos'"
            [type]="'text'"
            [value]="''"
          >
          </input-field>
        </div>
        <!-- <div 
          class="w-12/12 md:w-3/ mb-3 md:mb-0"
        >
          <input-field
            [id]="'search'"
            #search
            [name]="'search'"
            [placeholder]="'e.g 10,000 - 50,000'"
            [type]="'text'"
            [value]="'value'"
          >
          </input-field>
        </div> -->
        <div 
          class="w-12/12 md:w-2/12 mb-2 md:mb-0 mt-3 md:mt-0"
        >
          <app-botin
            (ChangeOnButtonHoverIn)="ChangeOnButtonHoverIn()" 
            (ChangeOnButtonHoverOut)="ChangeOnButtonHoverOut()"
            [disabled]="disabled"
            [style]="style"
          >
            <div
              class="flex flex-col space-y-1 items-center justify-between"
            >
              <h3>Search</h3>
            </div>
          </app-botin>
        </div>        
      </div>

      <!-- <div 
        class="flex justify-center items-center mt-5 gap-2"
      >
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Location
          </p>
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Skill
          </p>
          <p 
            class="text-white text-[11px] font-semi-bold bg-blue-800 rounded-md flex justify-center items-center cursor-pointer px-2 py-1 hover:rounded-md hover:text-white hover:bg-yellow-600"
          >
            Payment Range
          </p>
      </div> -->

  </div>
</div>

<div 
   class='container mx-auto mb-5'
>
   <div 
     class="w-full flex-cols md:flex gap-4"
   >
     <div 
       class="w-12/12 md:w-7/12 shadow-lg border-2"
     >
     
      <swiper-container 
        navigation="true" 
        pagination="true"
        autoplay="true" 
        delay="3000" 
        disable-on-interaction="false"
        loop="true"
      >
        @for(slide of sliders(); track slide)
        { 
          <!-- <swiper-slide>
            <app-image
              [src]="slide"
              [alt]="slide"
            >
            </app-image>
          </swiper-slide> -->
          <swiper-slide>
            <img [src]="slide" />
          </swiper-slide>
        }
      </swiper-container>  
    
    <!-- <swiper-container 
      navigation="true" 
      pagination="true"
    >
      @for(slide of sliders(); track slide)
      {          
        <swiper-slide>
          <app-image
            [src]="slide"
            [alt]="slide"
          >
          </app-image>
        </swiper-slide>
      }
    </swiper-container> -->
        
        <ul>
          <li 
            *ngFor="let user of users$ | async"
          >
            <!-- ({{ user.firstname }} -> {{ user.surname }} -> {{ user.token }} -> {{ user.id }}) -->
              <!-- ({{ user.firstname }} -> {{ user.surname }}) -->
          </li>
        </ul>
     </div>

     <div 
       class="w-12/12 md:w-5/12 shadow-lg mx-auto"
     >
        <!-- <iframe width="560" height="315" 
            src="https://www.youtube.com/watch?v=SRNKPxr9uR8" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
        </iframe> -->

        <iframe 
          width="630" height="320" 
          src="https://www.youtube.com/embed/SRNKPxr9uR8" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
        </iframe>

        <!-- <app-suggestion></app-suggestion> -->
        
     </div>

   </div>
</div>


<div 
  class="container mx-auto"
>
  <p
      class="text-sm md:text-md mb-5 mt-5 text-[#be9d18] font-bold text-left"
    >
       Top Engagers
    </p>
</div>

<div 
    class="container mx-auto grid grid-cols-2 md:grid-cols-6 gap-7 mb-5"
>    
   @if(users().length > 0)
   {
      @for(user of users(); track user.id)
      {
        <!-- <app-user-card [user]="user"></app-user-card> -->
        <div 
          class="border-2 shadow-md d-flex justify-center items-center relative"
        >
          <!-- <ng-icon 
            [svg]="threeDot" 
            [size]="'22'" 
            [color]="'black'" 
            [ngClass]="{'circle-over' : isHamburgOver}"
            (mouseover)="overBurger()"
            class="z-50 cursor-pointer top-3 right-1 absolute"
          /> -->
        <div 
          class="group absolute inline-block z-500 right-0 top-0"
        >
          <button 
            class="p-2 rounded-full hover:bg-gray-200 mr-1"
          >
            <div 
              class="flex flex-col gap-0.5"
            >
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
              <span class="w-1.5 h-1.5 bg-gray-600 rounded-full"></span>
            </div>
          </button>
          
          <!-- Hidden by default, shown on parent hover -->
          <ul 
            class="hidden z-500 group-hover:block absolute bg-white border w-[110px] text-[12px] -ml-20"
          >
            <li 
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Rate & Reviews
            </li>
            <li 
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Scam
            </li>
            <li   
              class="px-2 py-1 hover:bg-[#f6e7a0] border-b-2 border-gray-200 cursor-pointer"
            >
              Fake Profile
            </li>
          </ul>
        </div>
        
        
          <!-- <div 
            class="w-full h-[150px] hover:bg-yellow-100 absolute opacity-60 flex justify-center item-center z-30 cursor-pointer"
            (click)="''"
          >
            <ng-icon 
              [svg]="view" 
              [size]="'22'" 
              [color]="'black'" 
              [ngClass]="{'circle-over' : isHamburgOver}"
              (mouseover)="overBurger()"
              class="z-50 cursor-pointer top-20 absolute"
            /> 
          </div> -->
          <app-image
            [src]="user.image"
            [alt]="user.alt"
            [height]="300"
            [width]="300"
            class="cursor-none"
          >
          </app-image>   
          <div 
            class="w-full flex justify-between items-center text-[12px] px-2 py-2"
          >
            <p>Temitope Ugochukwu</p>
            <div 
              class="flex justify-center items-center gap-1"
            >
              <p>Rating:</p>
              <p class="text-yellow-700 mt-1">
                <ng-icon 
                  [svg]="rating" 
                  [size]="'14'" 
                  [color]="'yellow'" 
                  [ngClass]="{'circle-over' : isHamburgOver}"
                  (mouseover)="overBurger()"
                  class="z-50 cursor-pointer ml-1"
                />
              </p>
            </div>
          </div>
        </div>
      }
   } @else {
       <h1>No user present</h1>
   }
</div>


<div 
   class='container mx-auto px-0 py-3 h-[300px] shadow-lg pb-10 mb-1'
>
    <p 
      class="text-sm md:text-md mb-5 mt-5 text-[#be9d18] font-bold text-center"
    >
      Partners
    </p>
    <div 
      class="flex justify-center item-center"
    >

<div class="slider w-full bg-zinc-100 overflow-hidden">
    <div class="slider-track slider-animation flex gap-16 p-16">
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
      <div class="slide">
        <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" class="h-16 opacity-50 grayscale hover:grayscale-0 hover:opacity-100 transition-all duration-200" />
      </div>
    </div>
  </div>
    </div>
</div>


<div 
  class="container mx-auto w-12/12 md:w-7/12 mt-14"
>  
  <p 
    class="w-full text-center text-md font-bold text-gray-500 mb-4"
  >
     Professionals At Work
  </p>

  <swiper-container 
    navigation="true" 
    pagination="true"
    autoplay="true" 
    delay="3000" 
    disable-on-interaction="false"
    loop="true"
  >
     @for(slide of sliders(); track slide)
     { 
       <swiper-slide>
         <img [src]="slide" />
       </swiper-slide>
     }
   </swiper-container>  
  <!-- At work ends here -->   
</div>


<app-newsletter
>
</app-newsletter>

  