quill-editor {
  width: 100%;
}

.quild h1 {
   font-size: 40px;
}
.quild h2 {
   font-size: 74px;
}
.quild h3 {
   font-size: 28px;
}
.quild h4 {
   font-size: 22px;
}
.quild h5 {
   font-size: 18px;
}
.quild h6 {
   font-size: 16px;
}
.quild p {
   margin-top: 10px;
   margin-bottom: 10px;
}
