<section>
  <div 
    class="mx-auto w-full xl:mx-0 h-fit pt-2 pb-5 mb-3 bg-white shadow rounded px-5 flex overflow-x-auto drop-shadow-xl scrollbar-thin scrollbar-thumb-blue-200 scrollbar-track-red-400 hover:scrollbar-thumb-blue-400"
  >

  <!-- @for(let tab of TabPages; track image.key)
    {
      <button  
        (click)="setActive(i)" 
        class="focus:outline-none focus:text-indigo-700 text-sm pt-3 rounded-t text-indigo-700 mr-12 cursor-pointer"
      >
        <span 
          class="ml-1 font-normal whitespace-nowrap px-3"
        >
          {{ tab }}
        </span>
        @if(position === i)
        {
          <div 
            class="w-full h-1 mt-2 bg-indigo-700 rounded-t-md"
          >
          </div>
        }
      </button>
    } -->
  
    <button  
       *ngFor="let tab of TabPages; let i = index;"
       (click)="setActive(i)" 
       class="focus:outline-none focus:text-indigo-700 text-sm pt-3 rounded-t text-indigo-700 mr-12 cursor-pointer"
     >
       <span 
         class="ml-1 font-normal whitespace-nowrap px-3"
       >
         {{ tab }}
       </span>
       <div 
         *ngIf="position === i"
         class="w-full h-1 mt-2 bg-indigo-700 rounded-t-md"
       >
       </div>
     </button>

   </div>
</section>

