@if(resource.id === '-1')
{
   <div 
     class="w-full border-2 border-gray-200 h-[450px] flex justify-center items-center"
   >
      <p
        class="text-md text-gray-500"
      >
        Kindly select a resources
      </p>
   </div>
}

@if(resource.id != '-1')
{
   <div 
     class="py-1 md:px-1 relative"
   >
      <div 
        class="md: pr-5 text-left font-bold text-md capitalize rounded-none border-gray-200 pb-2 font-bold"
      >
        <span 
          class="font-bold w-full"
        >
         {{ resource.name }}
       </span>
      </div>
      <div class="py-2"></div>

      <div 
        key={index}
        class='col-span-12 px-3 text-[13px] py-4 text-left font-bold text-md capitalize border-2 rounded-none border-gray-100 pb-2'
      >
        <div 
          class="w-full flex justify-between items-center p-2 border-2 border-gray-200 rounded-lg"
        >
          {{ 'resource.name' }}

          <app-check></app-check>
        </div>

        <div 
          class="w-full mb-3"
        >
          <app-switch [label]="'All'" (changeState)="changeStatus($event)" [switchState]="switchState" [switchingState]="switchingState"></app-switch>
        </div> 
      </div>
   </div>
}