<!-- <img 
   [src]="src" 
   [alt]="alt" 
   [height]="height" 
   [width]="width" 
   (click)="redirect()"
   [ngClass]="'cursor-pointer'"
   [ngStyle]="imageStyle"
/> -->


<div 
   class="relative overflow-hidden"
   [ngClass]="{
     'w-full': fullWidth,
     'h-full': fullHeight,
     'inline-block': !fullWidth && !fullHeight
   }"
>
   <img
     [src]="src"
     [alt]="alt"
     [loading]="lazy ? 'lazy' : 'eager'"
     class="transition-all duration-300"
     [ngClass]="[
        objectFitClass,
        customClass,
        fullWidth ? 'w-full' : '',
        fullHeight ? 'h-full' : ''
     ]"
   />
</div>